@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}


#compaign::before{
  content: '';
  animation:fade 20s infinite;
  -webkit-animation:fade 20s infinite ;
}


@keyframes fade {
  0% {
    content: 'Sales campaign';
    
  }
  25% {
    content: 'Marketing campaign';
    
  }
  50% {
    content: 'Service campaign';
    
    }
  75% {
    content: 'Retention campaign';
    }
  100% {
    content: 'Promotional campaign';
    }

}